<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- Create log file based on time stamp -->
	<timestamp key="timeStampAsString" datePattern="yyyyMMdd'T'HHmmss"/>

	<!-- TODO: Check other properties like file size\count for file rollup etc. -->
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- TODO: Change the file name and location -->
		<!-- <File>c:\logbackFile-${timeStampAsString}.csv</File> -->
		<File>${catalina.base}/logs/securefile.log</File> <!-- non-windows path -->

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- TODO: Change the file name -->
			<FileNamePattern>${catalina.base}/logs/securefile.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- 
				 Using one of %logger or %class should suffice. 
				 %logger is the context string passed to LoggerFactory while creating the logger instance.
				 Avoid %line as having class name along with method name should help locate the source of error.
			 -->
			<Pattern>%date{YYYY-MM-dd HH:mm:ss.SSS,UTC},%date{YYYY-MM-dd HH:mm:ss.SSS},%level, [%thread] &#60;%mdc, className=%logger, methodName=%method&#62;, %logger{0} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <!-- encoders are assigned the type
	         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
	    <encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
	    </encoder>
	  </appender>
	
	  <root level="DEBUG">
	    <appender-ref ref="STDOUT" />
	  </root>	

	<!-- TODO: Check for other properties like queueSize, discardingThreshold etc. -->
	<appender name="asyncAppender" class="ch.qos.logback.classic.AsyncAppender">
		<!-- includeCallerData is required if you need to also log the method name else set to false -->
		<param name="includeCallerData" value="true"/>
		<appender-ref ref="fileAppender"/>
	</appender>

	
	<logger name="secure.files" level="info" />
	
	<root level="info">
		<appender-ref ref="fileAppender" />
	</root>

</configuration>
